GEMINI_API_KEY=
APP_DATA_DIR=/data
PUBLIC_BASE_URL=http://localhost:54320
MAX_UPLOAD_MB=4096
DB_BACKEND=mssql
DB_AUTO_CREATE=true
MSSQL_HOST=你的_MSSQL_IP_或_主機名
MSSQL_PORT=1433
MSSQL_DATABASE=NASSubtitleStudio
MSSQL_USER=你的_MSSQL_帳號
MSSQL_PASSWORD=你的_MSSQL_密碼
